html,body{
    width: 99%;
    height: 98%;
}



#parcooview {

    width: 100%;
    height: 100%;
}
#left-div{
    float: left;

    height: 90%;
    width: 75%;
}

#parcooTitle-div {
    float: left;

    height: 10%;
    width: 80%;
}

#conflict-list {
    float: left;
    overflow:scroll;
    height:90%;
    width: 24%;
    border-width:1px;
    border-style:solid;
    border-color:black;
}

#parcoo-overview {

    float:left;
    height: 90%;
    width: 100%
}

#parcoo-timeline {

    float: left;
    height: 10%;
    width: 100%;
}


svg {
    font: 10px sans-serif;

}

.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.foreground path:hover {
    fill: none;
    stroke: blue;
    stroke-opacity: .7;
    stroke-width: 4;

}

#parcoo-overview{

    padding-top: 50px;

}

.parcoordSVG{
    width:100%;
    height:100%;
}

.tooltip{
    border-width:2px;
    border-style:solid;
    border-color:black;
    white-space:pre;

}

table#voedingsdagboek {
    border-collapse: collapse;
    width: 100%;
}

#voedingsdagboek tr {
    background-color: white;
    border-top: 3px solid #fff;
    padding-top: 5px;
    padding-left:5px;

}
#voedingsdagboek tr:hover {

}
#voedingsdagboek td {

    background-color: #ededed;
    width: 100%;
    padding-top: 5px;
    padding-left:5px;
}
#voedingsdagboek td:hover {
    cursor: pointer;
}

.clearFilter{

    margin: 30px 50px;
    background-color: lightblue;
    float:right;
    font-weight:bold;
    width:100px;
    height:30px;

    left:35%;
}